.carousel-items img{
    max-width:100%;
    height:auto;
}
.carousel h2{
    margin-bottom:-1rem;

}

.carousel{
    background-color: #FFFFFF;
    padding: 20px 0;
    margin-top:-5rem;
}

ul.carousel-items{
    list-style:none;
    padding:20px 0;
    display:flex;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
}

li.carousel-item{
    flex:1 0 70%;
    margin-right:20px;
    scroll-snap-align:center;
}


::-webkit-scrollbar{
    height:5px;
}

::-webkit-scrollbar-track{
    background-color:#555555;
}

::-webkit-scrollbar-thumb{
    background-color: #EDE869;
}

.carousel-item img{
    border-radius:1rem;
}