.carousel-items img{
    max-width:100%;
    height:auto;
}
.carousel h2{
    margin:0 20px;
}

.carousel{
    background-color: #FFFFFF;
    padding: 20px 0;
}

ul.carousel-items{
    list-style:none;
    padding:20px 0;
    display:flex;
    overflow-x:scroll;
    scroll-snap-type:x mandatory;
}

li.carousel-item{
    flex:1 0 70%;
    margin-right:20px;
    scroll-snap-align:center;
}


::-webkit-scrollbar{
    height:2px;
}

::-webkit-scrollbar-track{
    background-color:#555555;
}

::-webkit-scrollbar-thumb{
    background-color: red;
}