/*------------------Image de fond------------------*/

.header1,.header2,.header3 {
    background-size: cover;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
}
.header1 {
    background-image: url("../../img/fond-article-1.png");
}
.header2 {
     background-image: url("../../img/fond-article-2.png");
 }
.header3 {
    background-image: url("../../img/fond-article-3.png");
}


/*------------------Fond blanc------------------*/
.article1{
    margin-top:92vh;
    background:white;
    border-radius:45px;
    width:24.5rem;
}

/*------------------Responsive------------------*/
img{
    max-width:100%;
}

body{
    margin:0;
    padding:0;
}

/*------------------Logo header------------------*/
.haut>img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6%;
    left: 30%;
    height: auto;
    width: 40%;
}


.bas,.bas2,.bas3 {
    margin-top:100%;
}

/*------------------Flèche vers le bas------------------*/
.article1>img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    left: 45%;
    height: auto;
    width:2.4rem;
    padding-top: 25px;
    margin-left:10.5rem;
}

/*------------------logo du début------------------*/
.logowalle {
    width:45%;
    position:relative;
    bottom:7.3rem;
}

.logocellphone{
    width:25%;
    position:relative;
    bottom:4rem;
}

.logosolutions{
    width:20%;
    position:relative;
    bottom:4rem;
}

/*------------------Marges de l'article------------------*/
.bas,.bas2,.bas3 {
    margin-left: 1.5rem;
}

p ,.article1>h2,h3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.article1>h2{
    padding-top:2rem;
}



/*------------------Redimension 1ère image------------------*/
article#Un\ film\ d’animation\ reconnu img,article#Un\ changement\ drastique{
    width:auto;
    margin-top:1rem;
    margin-bottom:-2rem;
}


/*------------------H3 margin-top------------------*/
article#Une\ vie\ atypique, article#Un\ monde\ incroyablement\ terrifiant…{
    margin-top:8rem;
}

/*------------------Redimension 2ème image------------------*/
.firstimg img{
    width:70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.firstimg video{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
    border-radius:1rem;
    width:90%;
}
/*------------------Interlignage paragraphes------------------*/
p{
    line-height: 1.7rem;
    font-size:1.1rem;
    letter-spacing: -0.2px;
}


/*------------------Redimension 3ème image------------------*/
.secondimg img {
    margin-top:1rem;
}

.cinquante{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
    margin-top:2rem;
    border-radius:1rem;
    width:40%;

}

.hot{
    position:relative;
    display:block;
    margin-left: 7rem;
    margin-right: auto;
    margin-bottom:5rem;
    top:2rem;
    border-radius:1rem;
    width:30%;

}

.earth{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5rem;
    top:2rem;
    border-radius:1rem;
    width:30%;
}
/*------------------Redimension 4ème image------------------*/
.thirdimg img {
    margin-top:1rem;
}

/*------------------Redimension 5ème image------------------*/
.fourthimg {
    margin-top:1rem;

}

/*------------------Bande annonce------------------*/
.bandeannoncegallerie h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:1.75rem;
    letter-spacing: -2px;
    line-height:4rem ;
    margin-top:9rem;
    text-align: center;
    margin-bottom:-0.3rem;

}

.bandeannoncegallerie video{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
    border-radius:1rem;
    width:90%;

}

/*--------------Tweet bas de page-------------*/
.wallevoirdeux,.wallevoirtrois,.wallevoirquatre{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top:-1rem;
    margin-bottom:0.4rem;
    margin-right:-1.7rem ;

}

.voir2{
    width: 133px;
    height: 73px;
    border: 1px solid #FFFFFF41;
    border-radius: 9px;
    color:white;

    letter-spacing: -1px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.3rem;

    display:flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;

}

.voir3,.voir4{
    width: 133px;
    height: 73px;
    border: 1px solid #FFFFFF41;
    border-radius: 9px;

    letter-spacing: -1px;
    font-size:1.3rem;

    display:flex;
    justify-content:center;
    align-items: center;
}

/*------------------Logo 2------------------*/
.tweetarticle2 img{
    width: 25%;
    margin-left: 0.5rem;
    float: left;
}
.tweetarticle3 img {
    width: 18%;
    position:relative;
    top:-4.5rem;
    left:1rem;
}
.tweetarticle4 img {
     width: 18%;
     position:relative;
     left:1rem;
 }

.tweetarticle2 {

    top: 518px;
    margin-left: 23px;
    width: 340px;
    height:270px;

    border-radius: 20px;
    background-color: #A2A2A2;
    opacity:100%;
    margin-bottom:8rem;
    margin-top:6rem;

}
.tweetarticle3 {

    top: 518px;
    margin-left: 23px;
    width: 340px;
    height:285px;

    border-radius: 20px;
    background-color: #A2A2A2;
    opacity:100%;
    margin-bottom:8rem;
    margin-top:6rem;

}
.tweetarticle4 {

    top: 518px;
    margin-left: 23px;
    width: 344px;
    height:270px;

    border-radius: 20px;
    background-color: #A2A2A2;
    opacity:100%;
    margin-bottom:8rem;
    margin-top:6rem;

}
.tweetarticle2 h2,.tweetarticle2 h1,.tweetarticle2 p,.tweetarticle3 h2,.tweetarticle3 h1,.tweetarticle3 p,.tweetarticle4 h2,.tweetarticle4 h1,.tweetarticle4 p{
    color:white;

}
.tweetarticle2 h1,.tweetarticle2 h2,.tweetarticle3 h1,.tweetarticle3 h2,.tweetarticle4 h1,.tweetarticle4 h2{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: white;
}

.tweetarticle2 h1{
    font-size: 2rem;
    letter-spacing: -0.7px;
    line-height: 3.4rem;
    margin-left:1.4rem;
    margin-right: 7px;
    margin-top:-1.5rem;
    margin-bottom: -1rem;

}

.tweetarticle3 h1,.tweetarticle4 h1{
    font-size: 2.3rem;
    letter-spacing: -0.7px;
    line-height: 3.4rem;
    position:relative;
    top:-2.5rem;
    left:1.5rem;
    color:#EDE869;
}

.tweetarticle2 h2{
    font-size: 1.6rem;
    letter-spacing: -0.9px;
    line-height: 3.4rem;
    margin-left:7px;
    margin-right: 7px;
    margin-top:7rem;

    padding-top:0.6rem;
}
.tweetarticle3 h2{
    font-size: 1.6rem;
    letter-spacing: -0.9px;
    line-height: 3.4rem;
    position:relative;
    left:1.5rem;
    top:0.5rem;
}
.tweetarticle4 h2{
    font-size: 2.3rem;
    letter-spacing: -0.9px;
    position:relative;
    left:1.5rem;
    top:1.5rem;
}

.tweetarticle2 p{
    line-height: 1.4rem;
}

.tweetarticle3 p{
    line-height: 1.4rem;
    position:relative;
    top:-4rem;

}
/*------------------Impensée energétique------------------*/
.impenergy,.calculcomplexe,.maildiv{
    float:left;
    margin-bottom:-2.5rem;
    margin-top:2rem

}
.maildiv{
    margin-top:6rem;
    margin-bottom: -3rem;

}
.energy, .calcul{
    width:10%;
    position:relative;
    left:18.5rem;
    bottom:3.8rem;
}
.mail{
     width:10%;
     position:relative;
     left:14.5rem;
     bottom:3.8rem;
 }

/*------------------Footer------------------*/
footer{
    background-color: #A2A2A2;
}

.publicitelogo{
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    background-position: center center;
    width:30%;
    overflow:hidden;
    margin-top:2rem;
    margin-left:2rem;

}

.informations{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.5rem;
    letter-spacing:0;
    margin:2rem 0;
    color:white;
}

.informations p{
    line-height:4px;
}

.mentionslegales p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    margin:0 1.7rem;
    color:#D1D0AA;
    font-size:1.1rem;
    letter-spacing:0;
    line-height:22px;

}

.logos {
    margin-left:2rem;
    margin-top: 4rem;
    display:inline;

}

.logos img{
    width:5%;
    margin-right:1rem;
    margin-top:2rem;
    margin-bottom:2rem;

}


