/*------------------Image de fond------------------*/
body header {
    background-image: url("../../img/fond-article-1.png");
    background-size: cover;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:auto;
}

/*------------------Fond blanc------------------*/
.article1{
    margin-top:92vh;
    background:white;
    border-radius:45px;
    width:23.8rem;
}

/*------------------Responsive------------------*/
img{
    max-width:100%;
}

body{
    margin:0;
    padding:0;
}

/*------------------Logo header------------------*/
.haut>img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6%;
    left: 30%;
    height: auto;
    width: 40%;
}


.bas{
    margin-top:120%;
}

/*------------------Flèche vers le bas------------------*/
.article1>img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 95%;
    left: 45%;
    height: auto;
    width:2.4rem;
}

/*------------------Début du premier texte décalé du haut------------------*/
.logowalle {
    width:45%;
    position:absolute;
    bottom:7rem;
}
/*------------------Marges de l'article------------------*/
.bas {
    margin-left: 1.5rem;
}

p ,.article1>h2,h3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.article1>h2{
    padding-top:8rem;
}

.bas>p{
    margin-left:0;
}

/*------------------Redimension 1ère image------------------*/
article#Un\ film\ d’animation\ reconnu img{
    width:auto;
    margin-top:1rem;
    margin-bottom:-2rem;
}


/*------------------H3 margin-top------------------*/
article#Une\ vie\ atypique, article#Un\ monde\ incroyablement\ terrifiant…{
    margin-top:8rem;
}

/*------------------Redimension 2ème image------------------*/
.firstimg img{
    width:70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

/*------------------Interlignage paragraphes------------------*/
p{
    line-height: 1.7rem;
    font-size:1.1rem;
    letter-spacing: -0.2px;
}


/*------------------Redimension 3ème image------------------*/
.secondimg img {
    margin-top:1rem;
}

/*------------------Redimension 4ème image------------------*/
.thirdimg img {
    margin-top:1rem;
}

/*------------------Redimension 5ème image------------------*/
.fourthimg {
    margin-top:1rem;

}

/*------------------Bande annonce------------------*/
.bandeannoncegallerie h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:1.75rem;
    letter-spacing: -2px;
    line-height:4rem ;
    margin-top:9rem;
    text-align: center;
    margin-bottom:-0.3rem;

}

.bandeannoncegallerie video{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
    border-radius:1rem;
    width:90%;

}

