@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;700;1,200;1,900&display=swap');

/*font-family: 'Poppins',sans-serif;
font-style: italic;
font-weight: 200;

font-family: 'Poppins',sans-serif;
font-style: italic;
font-weight: 900;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 700;

font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 400;*/



body{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    color:#5E6D73;

}


/*------------------Titres .bas------------------*/
.bas p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    color:white;
    font-size:2.5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: -1px;
    margin-top:-3rem;
    margin-bottom:-3rem;

}

.bas h1{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: 900;
    color:white;
    font-size:6rem;
    letter-spacing: -4px;
}

.bas h2{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: 900;
    color:white;
    font-size:4rem;
    letter-spacing: -3px;
    margin-top:-7rem;

}

/*------------------H1 de l'article------------------*/
.article1>h2{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:4rem;
    letter-spacing: -2px;
    line-height:4rem ;

}

/*------------------H2 de l'article------------------*/
h3{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:2rem;
    letter-spacing: -2px;
    line-height:5rem ;
}

/*------------------Sous-titres des images------------------*/
.soustitre {
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size:0.9rem;
    color:#CBA18F;
    margin-top:2.5rem;
    margin-right:0;
}